<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor's appointment</title>
</head>
<body>

<a href="/logout">Loogout</a>
Task 1: Create a table where you can see 5 doctor's name, specialization, timing

<form action="task1.php" method="post">
    <input type="text" name="Doctor's name" placeholder="name">
    <input type="text" name="specialization" placeholder="specialist in">
    <input type="submit" name="submit" value="Submit">
</form>
<br>
Task 2:select one doctor and make appointment by submit button
<br>

Task 3: create a database for doctor's Appointment.

</body>
</html>