<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB APP</title>
</head>
<body>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 292px; width: 60.1751%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0" cellspacing="10" cellpadding="10">
<tbody>
<tr style="height: 274px;">
<td style="width: 50.9091%; height: 274px;">
    <img src="https://www.rottal-inn.de/fileadmin/_processed_/e/a/csm__DSC0608_-min_e68278d6f6.jpg" alt="https://www.rottal-inn.de/fileadmin/_processed_/e/a/csm__DSC0608_-min_e68278d6f6.jpg" height="500px" width="1400px"/></td>
</tr>
<tr style="height: 18px;">
<td style="width: 50.9091%; height: 18px; text-align: center;"><strong>DIT ECRI MEDICAL WEB APP</strong></td>
</tr>
<tr>
<td style="width: 50.9091%; text-align: center;">
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 50%;"><strong><a href="/register">Registration</a></strong></td>
<td style="width: 50%;"><strong><a href="/login">Login</a></strong></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
</body>
</html>