<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<form action="registerchk" method="post">
    <table>

        <thead>
            <tr> sign up for registration</tr>
        </thead>
        <tr>
            <td> Email:</td>
            <td> <input type="text" name="email"/></td>
        </tr>
        <tr>
            <td> password:</td>
            <td> <input type="password" name="pwd"/></td>
        </tr>
        <tr>
            <td> Name:</td>
            <td> <input type="text" name="name"/></td>
        </tr>
        <tr>
            <td> Address:</td>
            <td> <input type="text" name="addrs"/></td>
        </tr>
        <tr>
            <td> Phone:</td>
            <td> <input type="text" name="phone"/></td>
        </tr>
        <tr>
            <td> <input type="submit" value="submit"/></td>
        </tr>

    </table>

</form>

</body>
</html>